@charset "UTF-8";

/*
TDB:

Até 768px
P/ Cel e pequenas telas

De 769px a 1200px
P/ tablets e Desktops

Acima de 1201px
Para telas grandes
*/

*{
    margin: 0px;
    padding: 0px;
}
body, html{
    background-color: #AAB5BF;
    height: 100vh;
    width: 100vw;
}

header{
    background-color: #062540;
    color: white;
    height: 15vh;
    width: 100vw;
    position: relative;
}

section.head{
    justify-content: space-evenly;
    display: flex;
}
